<!-- nav -->
 <div class="header">
    <h2>Autoserwis app</h2>
 </div>   
 <ul class="navbar-nav">
        <li><a class="active" routerLink="/">Home</a></li>
        <li><a routerLink="/car">Car</a></li>
        <li><a routerLink="/repair">Repair</a></li>
        <li><a routerLink="/parts">Parts</a></li>
        <li><a routerLink="/repair_parts">Changed parts</a></li>
 </ul>

<!-- main content container -->
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 offset-sm-2">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
