/* You can add global styles to this file, and also import other style files */
html{
	background-color: rgb(207,195,212);
	font-size: 30px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 0;
  }
  
  li {
	float: left;
  }
  
  li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  }
  
  li a:hover {
	background-color: #111;
  }
  
  .active {
	background-color: #4CAF50;
  }

div.page-container {
  max-width: 75%;
  min-width: 960px;
  margin: 0 auto;
  padding: 0;
  float:left;
  margin-left: 4%;
  }

div.page-container-inner {
  min-width: 960px;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0;
}
  
.naglowek{
	margin-left: 10%;
}
.logo{
	width:33px;
	height:33px;
}
.button{
	background-color: rgb(239, 239, 239);
	color: black;
	border-style:solid;
	border-width:3px;
	border-color:black;
	margin:10px;
	margin-left: 10%;
	padding:2px;
	width: 200px;
	height: 50px;
	border-radius: 10px;
	text-align:center;
	cursor: pointer;
	font-size: 20px;
	transition: margin 0.25s;
}
.button:hover{
	margin-left: 10.5%;
	background-color: rgb(155, 155, 155);
	color: white;
}
.button1{
	background-color: rgb(239, 239, 239);
	color: black;
	border-style:solid;
	border-width:3px;
	border-color:black;
	margin:10px;
	margin-left:30%;
	padding:2px;
	width: 130px;
	height: 50px;
	border-radius: 10px;
	text-align:center;
	cursor: pointer;
	font-size: 20px;
	transition: margin 0.25s;
}
.button1:hover{
	margin-left: 30.5%;
	background-color: rgb(155, 155, 155);
	color: white;
}
.button2{
	background-color: rgb(239, 239, 239);
	color: black;
	border-style:solid;
	border-width:3px;
	border-color:black;
	margin:10px;
	margin-left:30%;
	padding:2px;
	width: auto;
	height: 50px;
	border-radius: 10px;
	text-align:center;
	cursor: pointer;
	font-size: 20px;
	transition: margin 0.25s;
}
.button2:hover{
	margin-left: 30.5%;
	background-color: rgb(155, 155, 155);
	color: white;
}
.href{
	text-decoration: underline;
}
.href:hover{
	color:rgb(76, 175, 167);
}
.foto:hover{
	background:white;
	border:2px solid #021a40;
	border-radius: 5px;
}
.line{
	border-top:2px solid #000000;
	height:100%;
}
table {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

td, th {
	border: 2px solid #ddd;
	padding: 8px;
}

tr:nth-child(even) {
	background-color: rgb(239, 239, 239);
}
tr:nth-child(odd) {
	background-color: rgb(239, 239, 239);
}


th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: rgb(76, 175, 167);
	color: white;
}

tr:hover {
	background-color: #ddd;
	background-color: rgb(155, 155, 155);
	color: white;
}
.text_area{
	width:300px;
	height: 30px;
	float: right;
	border: 2px solid #021a40;
	border-radius: 5px;
	font-size: 22px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
.label_text{
	float:left;
	width: 180px;
	text-align:right;
}
.text_area:hover {
	background-color: rgb(239, 239, 239);
}
.wyszukiwarka{
	padding: 20px;
}
.napis{
	margin-bottom: 20px;
}
.left_tl{
	float: left;
	min-width:500px
}
.error{
	float: right
}