<div class="page">
    <h3 class="naglowek">Parts</h3>

    <div class="page-container">
        <div class="page-container-inner">

            <table id="table" *ngIf="selectionMode==false">
                <tr>
                    <th>id</th>
                    <th>producent</th>
                    <th>nazwa</th>
                    <th>numer</th>
                    <th>cena</th>
                    <th>E</th>
                    <th>D</th>
                </tr>
                <tr *ngFor="let part of partsToShow" (click)="getPartById(part.partId)">
                    <td>{{part.partId}}</td>
                    <td>{{part.partBrand}}</td>
                    <td>{{part.partName}}</td>
                    <td>{{part.partNum}}</td>
                    <td>{{part.partPrice}}</td>
                    <td>
                        <div class="logo"><img src="../../assets/edit.png" class="foto"
                                (click)="getPartById(part.partId)" /></div>
                    </td>
                    <td>
                        <div class="logo"><img src="../../assets/rub.png" class="foto"
                                (click)="deletePart(part.partId)" /></div>
                    </td>
                </tr>

            </table> 

            <table id="table" *ngIf="selectionMode==true">
                <tr>
                    <th>id</th>
                    <th>producent</th>
                    <th>nazwa</th>
                    <th>numer</th>
                    <th>cena</th>
                    <th>S</th>
                </tr>
                <tr *ngFor="let part of partsToShow" (click)="getPartById(part.partId)">
                    <td>{{part.partId}}</td>
                    <td>{{part.partBrand}}</td>
                    <td>{{part.partName}}</td>
                    <td>{{part.partNum}}</td>
                    <td>{{part.partPrice}}</td>
                    <td>
                        <div class="logo"><img src="../../assets/sel.png" class="foto"
                                (click)="getPartById(part.partId)" /></div>
                    </td>
                </tr>

            </table>

            <div style="width:auto; margin-left: 20%;">
                <div style="float: left; width: 200px; margin-left: 0%">
                    <!--<form action="Główna_Strona.html">-->
                    <input class="button" type="submit" value="<< Wróc" (click)="getPreviousPage()" />
                    <!--</form>-->
                </div>
                <div style="float: left; width: 200px; margin-top: 10px">
                    <div style="text-align: center;"><label id="infoLabel">{{ilosc}}</label></div>
                </div>
                <div style="float: left; width: 200px; margin-left: 0%">
                    <!--<form action="Główna_Strona.html">-->
                    <input class="button" type="submit" value="Dalej >>" (click)="getNextPage()" />
                    <!--</form>-->
                </div>
            </div>

            <div style="float: left; margin-top:2%;margin-right:30%">
                <label class="napis"><b>Szegóły rekordu/Wyszukiwarka</b></label>
                <div class="wyszukiwarka">
                    <div class="left_tl"><label class="label_text">producent</label><input id="producent"
                            class="text_area" [(ngModel)]="part.partBrand" name="partBrand" type="text" /></div>
                    <div class="error"><label style="float:right; color:red" id="l1"></label></div>
                </div>
                <div class="wyszukiwarka">
                    <div class="left_tl"><label class="label_text">nazwa_cz</label><input id="nazwa_cz"
                            class="text_area" [(ngModel)]="part.partName" name="partName" type="text" /></div>
                    <div style="float: right"><label style="float:right; color:red" id="l2"></label></div>
                </div>
                <div class="wyszukiwarka">
                    <div class="left_tl"><label class="label_text">numer_cz</label><input id="numer_cz"
                            class="text_area" [(ngModel)]="part.partNum" name="partNum" type="text" /></div>
                    <div style="float: right"><label style="float:right; color:red" id="l3"></label></div>
                </div>
                <div class="wyszukiwarka">
                    <div class="left_tl"><label class="label_text">cena</label><input id="cena" class="text_area"
                            [(ngModel)]="part.partPrice" name="partPrice" type="text" /></div>
                    <div style="float: right"><label style="float:right; color:red" id="l4"></label></div>
                </div>
                <form>
                    <div class="wyszukiwarka">
                        <div class="left_tl"><input style="float: right; margin-left: 1%" class="button1" id="btnSzukaj"
                                type="submit" (click)="findPart()" value="Szukaj" />
                        </div>
                    </div>
                    <div class="wyszukiwarka">
                        <div *ngIf="selectionMode==true"class="left_tl"><input style="float: right; margin-left: 1%" class="button1" id="btnWybież"
                            type="submit" (click)="goToCP()" value="Wybież" /></div>
                        <div *ngIf="editMode==false && selectionMode==false"class="left_tl"><input style="float: right; margin-left: 1%" class="button1" id="btnDodaj"
                                type="submit" (click)="addPart()" value="Dodaj" /></div>
                        <div *ngIf="editMode==true && selectionMode==false" class="left_tl"><input style="float: right; margin-left: 1%" class="button1" id="btnDodaj"
                                type="submit" (click)="updatePart()" value="Zapisz" /></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>