<div class="page">
	<h3 class="naglowek">Car</h3>
	<!--<hr style="border:1px solid #000000;">-->

	<div class="page-container">
		<div class="page-container-inner">

			<table id="table">
				<tr>
					<th>id</th>
					<th>numer_rej</th>
					<th>rok_pr</th>
					<th>brand</th>
					<th>model</th>
					<th>win_code</th>
					<th>E</th>
					<th>D</th>
					<th>R</th>
					<th>P</th>
				</tr>
				<tr *ngFor="let car of carsToShow">
					<td>{{car.carId}}</td>
					<td>{{car.carNum}}</td>
					<td>{{car.carDate}}</td>
					<td>{{car.carBrand}}</td>
					<td>{{car.carModel}}</td>
					<td>{{car.winCode}}</td>
					<td><div class="logo"><img src="../../assets/edit.png" class="foto" (click)="getCarById(car.carId)" /></div></td>
					<td><div class="logo"><img src="../../assets/rub.png" class="foto" (click)="deleteCar(car.carId)" /></div></td>
					<td><div class="logo"><img src="../../assets/rep.png" class="foto" (click)="onRepair(car)" /></div></td>
					<td><div class="logo"><img src="../../assets/parts.png" class="foto" (click)="onParts(car)" /></div></td>
				</tr>
				
			</table>
			
			<div style="width:auto; margin-left: 20%;">
				<div style="float: left; width: 200px; margin-left: 0%">
					<!--<form action="Główna_Strona.html">-->
					<input class="button" type="submit" value="<< Wróc" (click)="getPreviousPage()" />
					<!--</form>-->
				</div>
				<div style="float: left; width: 200px; margin-top: 10px">
					<div style ="text-align: center;"><label id="infoLabel">{{ilosc}}</label></div>
				</div>
				<div style="float: left; width: 200px; margin-left: 0%">
					<!--<form action="Główna_Strona.html">-->
					<input class="button" type="submit" value="Dalej >>" (click)="getNextPage()" />
					<!--</form>-->
				</div>
			</div>

			<div style="float: left; margin-top:2%;">
				<label class="napis"><b>Szegóły rekordu/Wyszukiwarka</b></label>
				<!--
					<form>
						Enter Name:<input type="text" [(ngModel)] = "employee.employeeName" name="employeeName"/><br/>
						Enter Designation:<input type="text" [(ngModel)] = "employee.designation" name="designation"/><br/>
						<button (click) = "addEmployee()">Add employee</button>
					</form>
				-->
				<div class="wyszukiwarka">
					<div class="left_tl"><label class="label_text">num_rej</label><input id="num_rej" class="text_area"
							type="text" [(ngModel)]="car.carNum" name="carNum" /></div>
					<div class="error"><label style="float:right; color:red" id="l1"></label></div>
				</div>
				<div class="wyszukiwarka">
					<div class="left_tl"><label class="label_text">rok_prod</label><input id="rok_prod"
							class="text_area" maxlength="4" type="text" [(ngModel)]="car.carDate" name="carDate" /></div>
					<div style="float: right"><label style="float:right; color:red" id="l2"></label></div>
				</div>
				<div class="wyszukiwarka">
					<div class="left_tl"><label class="label_text">brand</label><input id="brand" class="text_area"
							type="text" [(ngModel)]="car.carBrand" name="carBrand" /></div>
					<div style="float: right"><label style="float:right; color:red" id="l3"></label></div>
				</div>
				<div class="wyszukiwarka">
					<div class="left_tl"><label class="label_text">model</label><input id="model" class="text_area"
							type="text" [(ngModel)]="car.carModel" name="carModel" /></div>
					<div style="float: right"><label style="float:right; color:red" id="l4"></label></div>
				</div>
				<div class="wyszukiwarka">
					<div class="left_tl"><label class="label_text">win_code</label><input id="win_code"
							class="text_area" maxlength="17" type="text" [(ngModel)]="car.winCode" name="win_code" /></div>
					<div style="float: right"><label style="float:right; color:red" id="l5"></label></div>
				</div>
				<!--<form action="Akcje.html" id="akcje">-->
				<form>
					<div class="wyszukiwarka">
						<div class="left_tl"><input style="float: right; margin-left: 1%" class="button1" id="btnSzukaj"
								type="submit" (click)="findCar()" value="Szukaj" />
						</div>
					</div>
					<div class="wyszukiwarka">
						<div *ngIf="checkMode()==false" class="left_tl"><input style="float: right; margin-left: 1%" class="button1" id="btnDodaj"
								type="submit" (click)="addCar()" value="Dodaj" /></div>
						<div *ngIf="checkMode()==true" class="left_tl"><input style="float: right; margin-left: 1%" class="button1" id="btnZapisz"
								type="submit" (click)="updateCar()" value="Zapisz" /></div>
					</div>
				</form>
				<!--</form>-->
			</div>
		</div>
	</div>
</div>