<div id="myModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="close" (click)="closeModal(0)">&times;</span>
      <p>Czy napewno chcesz usunąć ten element?</p>
    </div>
    <div class="modal-body">
      <p style="color:red">Zmiana nie jest odwracalna!</p>
    </div>
    <div class="modal-footer">
      <button class="button" (click)="closeModal(1)">Tak</button>
      <button class="button" (click)="closeModal(0)">Nie</button>
    </div>
  </div>

</div>