<div class="page">
	<h3 class="naglowek">Repair{{logo}}</h3>

	<div class="page-container">
		<div class="page-container-inner">

			<table>
				<tr>
					<th>id</th>
					<th>numer_rej</th>
					<th>brand</th>
					<th>model</th>
					<th>przebieg</th>
					<th>data_od___</th>
					<th>data_do___</th>
					<th>koszt</th>
					<th>E</th>
					<th>D</th>
					<th>+</th>
					<th>M</th>
				</tr>
				<tr *ngFor="let repair of repairs">
					<td>{{repair.repair.repairId}}</td>
					<td>{{repair.carNum}}</td>
					<td>{{repair.carBrand}}</td>
					<td>{{repair.carModel}}</td>
					<td>{{repair.repair.mileage}}</td>
					<td>{{repair.repair.dateFrom}}</td>
					<td>{{repair.repair.dateTo}}</td>
					<td>{{repair.repair.repPrice}}</td>
					<td>
						<div class="logo"><img src="../../assets/edit.png" class="foto"
								(click)="selectRepairToEdit(repair)" /></div>
					</td>
					<td>
						<div class="logo"><img src="../../assets/rub.png" class="foto"
								(click)="deleteRepair(repair.repair.repairId)" /></div>
					</td>
					<td>
						<div class="logo"><img src="../../assets/add.png" class="foto"
								(click)="selectCarToAddRepair(repair.carId)" /></div>
					</td>
					<td>
						<div class="logo"><img src="../../assets/det.png" class="foto"
								(click)="goToParts(repair.repair)" /></div>
					</td>
				</tr>
			</table>

			<div style="width:auto; margin-left: 20%;">
				<div style="float: left; width: 200px; margin-left: 0%">
					<!--<form action="Główna_Strona.html">-->
					<input class="button" type="submit" value="<< Wróc" (click)="getPreviousPage()" />
					<!--</form>-->
				</div>
				<div style="float: left; width: 200px; margin-top: 10px">
					<div style="text-align: center;"><label id="infoLabel">{{ilosc}}</label></div>
				</div>
				<div style="float: left; width: 200px; margin-left: 0%">
					<!--<form action="Główna_Strona.html">-->
					<input class="button" type="submit" value="Dalej >>" (click)="getNextPage()" />
					<!--</form>-->
				</div>
			</div>

			<div style="float: left; margin-top:2%;margin-right:30%">
				<label class="napis"><b>Szegóły rekordu/Wyszukiwarka</b></label>
				<div class="wyszukiwarka">
					<div class="left_tl"><label class="label_text">num_rej</label><input readonly id="num_rej"
							class="text_area" [(ngModel)]="car.carNum" name="carNum" /></div>
					<div class="error"><label style="float:right; color:red" id="l1"></label></div>
				</div>
				<div class="wyszukiwarka">
					<div class="left_tl"><label class="label_text">brand</label><input readonly id="brand"
							class="text_area" [(ngModel)]="car.carBrand" name="carBrand" type="text" /></div>
					<div style="float: right"><label style="float:right; color:red" id="l3"></label></div>
				</div>
				<div class="wyszukiwarka">
					<div class="left_tl"><label class="label_text">model</label><input readonly id="model"
							class="text_area" [(ngModel)]="car.carModel" name="carModel" type="text" /></div>
					<div style="float: right"><label style="float:right; color:red" id="l4"></label></div>
				</div>
				<div class="wyszukiwarka">
					<div class="left_tl"><label class="label_text">przebieg</label><input id="przebieg"
							class="text_area" [(ngModel)]="repairOriginal.mileage" name="mileage" type="text" /></div>
					<div class="error"><label style="float:right; color:red" id="l5"></label></div>
				</div>
				<div class="wyszukiwarka">
					<div class="left_tl"><label class="label_text">data_przyjęcia</label><input id="data_przyjęcia"
							class="text_area"  placeholder="dd-mm-yyyy" [(ngModel)]="repairOriginal.dateFrom" name="dateFrom" type="text" /></div>
					<div class="error"><label style="float:right; color:red" id="l6"></label></div>
				</div>
				<div class="wyszukiwarka">
					<div class="left_tl"><label class="label_text">data_zwrotu</label><input id="data_zwrotu"
							class="text_area" placeholder="dd-mm-yyyy" [(ngModel)]="repairOriginal.dateTo" name="dateTo" type="text" /></div>
					<div class="error"><label style="float:right; color:red" id="l7"></label></div>
				</div>
				<div class="wyszukiwarka">
					<div class="left_tl"><label class="label_text">koszt</label><input id="koszt" class="text_area"
							[(ngModel)]="repairOriginal.repPrice" name="repPrice" type="text" /></div>
					<div class="error"><label style="float:right; color:red" id="l8"></label></div>
				</div>

				<form>
					<div class="wyszukiwarka">
						<div class="left_tl"><input style="float: right; margin-left: 1%" class="button1" id="btnSzukaj"
								type="submit" value="Szukaj" />
						</div>
					</div>
					<div class="wyszukiwarka">
						<div *ngIf="editMode==true" class="left_tl"><input style="float: right; margin-left: 1%"
								class="button1" id="btnDodaj" type="submit" (click)="updateRepairs()" value="Edytuj" />
						</div>
						<div *ngIf="editMode==false" class="left_tl"><input style="float: right; margin-left: 1%"
								class="button1" id="btnDodaj" type="submit" (click)="addRepairs()" value="Dodaj" />
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

</div>