<div class="page">
    <h3 class="naglowek">Changed parts{{logo}}</h3>

    <div class="page-container">
        <div class="page-container-inner">

            <table id="table">
                <tr>
                    <th>id</th>
                    <th>producent</th>
                    <th>nazwa</th>
                    <th>numer</th>
                    <th>ilośc</th>
                    <th>suma</th>
                    <th>E</th>
                    <th>D</th>
                </tr>
               <tr *ngFor="let crpObj of crpAr">
                    <td>{{crpObj.parts.partId}}</td>
                    <td>{{crpObj.parts.partBrand}}</td>
                    <td>{{crpObj.parts.partName}}</td>
                    <td>{{crpObj.parts.partNum}}</td>
                    <td>{{crpObj.ilosc}}</td>
                    <td>{{crpObj.parts.partPrice*crpObj.ilosc}}</td>
                    <td>
                        <div class="logo"><img src="../../assets/edit.png" class="foto"
                                (click)="getChangedPartById(crpObj.rpId)" /></div>
                    </td>
                    <td>
                        <div class="logo"><img src="../../assets/rub.png" class="foto"
                                (click)="deleteChangedPart(crpObj.rpId)" /></div>
                    </td>
                </tr>

            </table>

            <div style="width:auto; margin-left: 20%;">
                <div style="float: left; width: 200px; margin-left: 0%">
                    <!--<form action="Główna_Strona.html">-->
                    <input class="button" type="submit" value="<< Wróc" (click)="getPreviousPage()" />
                    <!--</form>-->
                </div>
                <div style="float: left; width: 200px; margin-top: 10px">
                    <div style="text-align: center;"><label id="infoLabel">{{ilosc}}</label></div>
                </div>
                <div style="float: left; width: 200px; margin-left: 0%">
                    <!--<form action="Główna_Strona.html">-->
                    <input class="button" type="submit" value="Dalej >>" (click)="getNextPage()" />
                    <!--</form>-->
                </div>
            </div>

            <div style="float: left; margin-top:2%;margin-right:30%">
                <label class="napis"><b>Szegóły rekordu/Wyszukiwarka</b></label>
                <div class="wyszukiwarka">
                    <div class="left_tl"><label class="label_text">ilosc</label><input id="ilosc"
                            class="text_area" type="text" [(ngModel)]="rep_par.ilosc" name="ilosc" /></div>
                    <div class="error"><label style="float:right; color:red" id="l1"></label></div>
                </div>
                <div class="wyszukiwarka">
                    <div class="left_tl"><label class="label_text"><a class="href" (click)="goCar()">car</a></label><input readonly id="AcarId"
                            class="text_area" type="text" [(ngModel)]="car.carId" name="carId" /></div>
                    <div class="error"><label style="float:right; color:red" id="l2"></label></div>
                </div>
                <div class="wyszukiwarka">
                    <div class="left_tl"><label class="label_text"><a class="href" (click)="goRepair()">repair</a></label><input readonly id="ArepairId"
                        class="text_area" type="text" [(ngModel)]="rep_par.repairId" name="repairId" /></div>
                    <div class="error"><label style="float:right; color:red" id="l3"></label></div>
                </div>
                <div class="wyszukiwarka">
                    <div class="left_tl"><label class="label_text"><a class="href" (click)="goPart()">part</a></label><input readonly id="ApartId"
                            class="text_area" type="text" [(ngModel)]="rep_par.partId" name="partId" /></div>
                    <div class="error"><label style="float:right; color:red" id="l4"></label></div>
                </div>
                <form>
                    <div class="wyszukiwarka">
                        <div class="left_tl"><input style="float: right; margin-left: 1%" class="button2" id="btnDodaj"
                                type="submit" *ngIf="addMode=='noone' && editMode==false" (click)="goCar()" value="Select car and repair to add changed part" /></div>
                        <div class="left_tl"><input style="float: right; margin-left: 1%" class="button2" id="btnDodaj"
                                type="submit" *ngIf="addMode=='car'  && editMode==false" (click)="goRepair()" value="Select repair to add" /></div>
                        <div class="left_tl"><input style="float: right; margin-left: 1%" class="button2" id="btnDodaj"
                                type="submit" *ngIf="addMode=='repair'  && editMode==false" (click)="goPart()" value="Select part to add" /></div>
                        <div class="left_tl"><input style="float: right; margin-left: 1%" class="button2" id="btnDodaj"
                                type="submit" *ngIf="addMode=='add'  && editMode==false" (click)="addCP()" value="add to Changed Parts" /></div>
                        <div class="left_tl"><input style="float: right; margin-left: 1%" class="button2" id="btnDodaj"
                                type="submit" *ngIf="editMode==true" (click)="updateCP()" value="Zapisz" /></div>
                                
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>